/*index.html page styling*/
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;600&display=swap');

body {
    background: url('./Assets/1920x1080-animal-bird-fauna-kingfisher-nature-wildlife-1428583.jpg'), rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
    display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0;
    padding: 30px;
    font-family: 'Eczar', serif;
}

* {
    box-sizing: border-box;
}

.bg-text {
    height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: white;
    font-weight: bold;
    z-index: 2;
    padding: 20px;
    text-align: center;
}

header {
	height: 35px;
}

.logo {
    height: 50px;
}

h1 {
	font-size: 54px;
	font-weight: 600;
	opacity: 0;
	animation-name: slideIn;
	animation-duration: 3s;
	animation-fill-mode: forwards;
    margin: 0;
	text-align: center;
}

@keyframes slideIn {
	from {
		opacity: 0;
		transform: translateY(-50%);
	}

	to {
		opacity: 1;
		transform: translateY(0%);
	}
}

.description {
	font-size: 24px;
	font-weight: 400;
	color: #fff;
	border-radius: 10px;
	opacity: 0;/* start with 0 opacity */
	animation-name: fade-in;
	animation-duration: 5s;
	animation-fill-mode: forwards;/* keep final style after animation ends */
    margin: 20px 0;
	text-align: center;
}

@keyframes fade-in {
	from { opacity: 0;}
	to { opacity: 1;}
}
.button {
    right: 0;
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	background: #e0e400;
    color: black;
	padding: 15px 30px;
	text-decoration: none;
	transition: 0.5s;
    position: relative;
}

.button:hover {
	background: transparent;
    border: #e0e400 2px solid;
    color: #e0e400;
}