/*Styling of predict.html page*/

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #666;
}

input[type=file] {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3e8e41;
}

#imgDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    max-width: 500px;
    max-height: 500px;
    margin-top: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}